<?xml version="1.0"?>

<Config>
	<Parameters>
		<logging Level="debug" />	<!-- trace、debug、info、warning、error -->
		<timeout seconds="7200" />
		<hint_file File="hint_file/en.xml" />
	</Parameters>
	<Directories>
		<lib Path="lib" />
	</Directories>
	<Modules>
		<kc_web_main Path="modules" Activation="2" />
	</Modules>
</Config>
